.contact-section{

    padding:180px 0;

    text-align:center;

    background:

            radial-gradient(
                    circle,
                    rgba(34,211,238,.08),
                    transparent
            );

}

.contact-title{

    font-size:
            clamp(3rem,7vw,5rem);

    margin-bottom:40px;
}