#projects{

    background:
            linear-gradient(
                    180deg,
                    transparent,
                    rgba(255,255,255,.015)
            );

}

.project-meta{

    margin-top:30px;

    display:flex;

    gap:14px;

    flex-wrap:wrap;
}