.btn-main{

    font-weight:600;

    background:
            linear-gradient(
                    90deg,
                    var(--accent),
                    var(--accent-light)
            );

    box-shadow:var(--shadow);

}

.btn-main:hover{
    transform:translateY(-4px);
}


.btn-outline-custom{

    border:1px solid var(--border);

}

.btn-outline-custom:hover{

    background:var(--surface);

}

.btn-main,
.btn-outline-custom{

    display:inline-flex;
    align-items:center;
    justify-content:center;

    gap:.6rem;

    min-width:180px;   /* mesma largura */
    min-height:56px;

    padding:16px 34px;

    border-radius:999px;

    transition:var(--transition);

}

.btn-main i,
.btn-outline-custom i{
    font-size:1rem;
    line-height:1;
}