.btn-main{

    display:inline-block;

    padding:16px 34px;

    border-radius:999px;

    font-weight:600;

    background:
            linear-gradient(
                    90deg,
                    var(--accent),
                    var(--accent-light)
            );

    box-shadow:var(--shadow);

    transition:var(--transition);

}

.btn-main:hover{
    transform:translateY(-4px);
}


.btn-outline-custom{

    display:inline-block;

    padding:16px 34px;

    border-radius:999px;

    border:1px solid var(--border);

    transition:var(--transition);

}

.btn-outline-custom:hover{

    background:var(--surface);

}